@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.allocine-provider-form {
  width: 100%;

  .allocine-provider-content {
    margin-top: rem.torem(24px);

    .apf-quantity-section, .apf-price-section, .apf-is-duo-section { 
      margin-bottom: rem.torem(8px);
    }

    input[type="number"] {
      text-align: left;
      height: rem.torem(40px);
    }

    .imported-offres-clarification {
      @include fonts.caption;

      color: colors.$grey-dark;
      margin-top: rem.torem(24px);
    }

    .actions {
      display: flex;
      justify-content: center;
      margin-top: rem.torem(40px);

      .secondary-button {
        margin-right: rem.torem(20px);
      }

      .primary-button {
        margin-left: rem.torem(20px);
      }

      button {
        padding: 0 rem.torem(80px);
      }
    }
  }
}

.price-section-label label {
  display: inline-flex;
}

.apf-is-duo-section {
  display: inline-flex;
}

.apf-tooltip {
  margin-left: rem.torem(4px);
}