@use "styles/mixins/_rem.scss" as rem;

.cinema-provider-form {
  margin-bottom: 0;
  margin-top: rem.torem(32px);

  .cpf-is-duo {
    margin-right: 0 !important;
    max-height: rem.torem(31px);
  }

  .cpf-tooltip {
    margin-left: rem.torem(4px);
  }
}
