@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as sizes;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_forms.scss" as forms;

.sign-up-confirmation-page {
  height: 100%;
  position: relative;
  left: forms.$sign-form-space-left;
  width: 100%;

  .content {
    margin: 0;
    margin-left: calc(sizes.$signup-content-margin + 15%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem.torem(500px);

    a.quaternary-link {
      color: colors.$primary;
    }

    .information-text {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      margin-top: rem.torem(24px);

      img {
        height: rem.torem(21px);
        margin-right: rem.torem(6px);
        margin-top: rem.torem(3px);
      }

      p {
        @include fonts.caption;

        color: colors.$grey-dark;
        text-align: justify;
      }
    }

    .hero-body {
      padding: rem.torem(48px) rem.torem(24px);
    }

    .confirmation-text {
      font-size: rem.torem(20px);
      font-weight: 500;
      line-height: rem.torem(24px);
      margin-bottom: rem.torem(12px);

      span {
        font-weight: 700;
      }
    }

    h1 {
      margin-bottom: rem.torem(16px);
    }
  }
}
