@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

.skip-links {
  height: 0;
  position: absolute;
  background-color: colors.$secondary;
  top: rem.torem(-100px);
  display: grid;
  grid-template-columns: size.$header-grid-template-columns;

  &:focus-within {
    min-height: rem.torem(32px);
    position: relative;
    z-index: 2;
    top: 0;
  }

  .skip-list {
    display: flex;
    gap: rem.torem(16px);
    align-items: center;
    height: rem.torem(32px);
    justify-content: flex-end;
    
    // Align skiplink to passculture logo, add logo margin and padding of a nav item creating more space
    margin-right: calc(
      size.$nav-brand-margin-right + size.$header-nav-item-padding + rem.torem(4px)
    );

    &-button {
      color: colors.$white;

      & svg {
        fill: colors.$white;
      }

      &:focus {
        border-color: white;
      }
    }
  }
}
