{% from "components/badges.html" import build_venue_badges %}
{% from "components/forms.html" import build_form_fields_group with context %}
{% from "components/turbo/lazy_modal.html" import build_lazy_modal with context %}
{% from "components/presentation/details/tabs.html" import build_details_tab %}
{% from "components/presentation/details/tabs.html" import build_details_tabs_wrapper %}
{% from "components/presentation/details/tabs.html" import build_details_tab_content %}
{% from "components/presentation/details/tabs.html" import build_details_tabs_content_wrapper %}
{% extends "layouts/standard.html" %}
{% block title %}
  Suspension de comptes jeunes
{% endblock title %}
{% block main_content %}
  <div class="row row-cols-1 g-4 py-3">
    <div class="col">
      <h2 class="card-title text-primary">Noms de domaines</h2>
      <div class="my-4">
        <form action="{{ url_for("backoffice_v3_web.fraud.prepare_blacklist_domain_name") }}"
              name="{{ url_for("backoffice_v3_web.fraud.prepare_blacklist_domain_name") | action_to_name }}"
              method="get"
              data-turbo="false">
          <div class="col-8 row">
            <div class="col-8">
              <div class="input-group mb-3">{{ form.domain }}</div>
            </div>
            <div class="col-4">
              <button type="submit"
                      class="btn btn-primary">Bannir</button>
            </div>
          </div>
        </form>
      </div>
      {% call build_details_tabs_wrapper() %}
        {{ build_details_tab("blacklist", "Noms de domains blacklistés", active_tab == "blacklist") }}
        {{ build_details_tab("history", "Historique", active_tab == 'history') }}
      {% endcall %}
      {% call build_details_tabs_content_wrapper() %}
        {% call build_details_tab_content("blacklist", active_tab == "blacklist") %}
          {% include "fraud/domain_names/blacklist.html" %}
        {% endcall %}
        {% call build_details_tab_content("history", active_tab == "history") %}
          {% include "fraud/domain_names/history.html" %}
        {% endcall %}
      {% endcall %}
    </div>
  </div>
{% endblock main_content %}
