{% macro build_result_page_form(form, dst) %}
  <form action="{{ dst }}"
        name="{{ dst | action_to_name }}"
        method="get">
    <div class="col-8 row">
      <div class="col-8">
        <div class="input-group mb-3">
          {% for form_field in form %}
            {% if form_field.type != 'HiddenField' %}{{ form_field }}{% endif %}
          {% endfor %}
        </div>
        {% for form_field in form %}
          {% if form_field.type == 'HiddenField' %}{{ form_field }}{% endif %}
        {% endfor %}
      </div>
      <div class="col-4">
        <button type="submit"
                class="btn btn-primary">Chercher</button>
      </div>
    </div>
  </form>
{% endmacro %}
