{% from "components/badges.html" import build_pro_user_status_badge %}
<div class="card shadow">
  <div class="card-body">
    <h5 class="mb-3">
      {% if not row.isActive %}<span class="badge rounded-pill text-bg-primary">{{ row.isActive | format_state }}</span>{% endif %}
      {% for role in row.roles %}<span class="badge rounded-pill text-bg-secondary">{{ role | format_role }}</span>{% endfor %}
      {{ build_pro_user_status_badge(row) }}
    </h5>
    <h5 class="card-title">
      <a href="{{ get_link_to_detail(row.id) }}"
         class="link-primary">{{ row.full_name }}</a>
    </h5>
    <h6 class="card-subtitle mb-4 text-muted">User ID : {{ row.id }}</h6>
    <div class="fs-6">
      <p>
        <span class="fw-bold">E-mail :</span> {{ row.email }}
      </p>
      {% if row.phoneNumber %}
        <p>
          <span class="fw-bold">Tél :</span> {{ row.phoneNumber | empty_string_if_null }}
        </p>
      {% endif %}
      {% set suspension_reason = row.suspension_reason %}
      {% if suspension_reason %}
        <p>
          <span class="fw-bold">Raison de suspension :</span> {{ suspension_reason | format_reason_label }}
          <span class="fw-bold">le</span> {{ row.suspension_date | format_date }}
        </p>
      {% endif %}
    </div>
    <div class="d-flex flex-row-reverse">
      <a href="{{ get_link_to_detail(row.id) }}"
         class="btn btn-md btn-outline-primary fw-bold">
        CONSULTER CE PROFIL <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
