{% from "components/search/result_form.html" import build_result_page_form %}
{% macro result_card_switch(row, result_type="public_account") %}
  {% if result_type == "offerer" %}
    {% include "components/search/result_card_offerer.html" %}
  {% elif result_type == "venue" %}
    {% include "components/search/result_card_venue.html" %}
  {% else %}
    {% include "components/search/result_card.html" %}
  {% endif %}
{% endmacro %}
{{ build_result_page_form(form, macro) }}
<div>
  <div>
    <p class="lead">{{ rows.total }} résultats</p>
    <div>
      <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for row in rows.items %}<div class="col">{{ result_card_switch(row, result_type) }}</div>{% endfor %}
      </div>
    </div>
  </div>
  <div class="my-5">{% include "components/search/pagination.html" %}</div>
</div>
