@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_a11y.scss" as a11y;
@use "styles/variables/_size.scss" as size;

.button {
  @include fonts.button;

  align-items: center;
  border: rem.torem(2px) solid;
  border-radius: rem.torem(24px);
  display: inline-flex;
  height: rem.torem(40px);
  justify-content: center;
  padding: 0 rem.torem(16px);

  &:disabled,
  &.button-disabled {
    cursor: default;
    pointer-events: none;
  }

  &-icon {
    height: size.$button-icon-size;
    width: size.$button-icon-size;
    flex-shrink: 0;
  }

  &.button-center {
    padding: 0 rem.torem(8px);
  }

  &.button-left {
    .button-icon:not(.button-icon-arrow, .has-tooltip) {
      margin-right: rem.torem(8px);
    }
  }

  &.button-right {
    .button-icon:not(.button-icon-arrow, .has-tooltip) {
      margin-left: rem.torem(8px);
    }
  }

  &-primary {
    color: colors.$white;
    background-color: colors.$primary;
    border-color: colors.$primary;

    &:hover,
    &:focus {
      background-color: colors.$primary-dark;
      border-color: colors.$primary-dark;
    }

    &:disabled,
    &.button-disabled {
      background-color: colors.$primary-disabled;
      border-color: colors.$primary-disabled;
    }

    &:disabled .button-icon,
    &.button-disabled .button-icon {
      fill: colors.$grey-medium;
    }

    .button-icon {
      fill: colors.$white;
    }
  }

  &-secondary {
    color: colors.$primary;
    background-color: colors.$white;
    border-color: colors.$primary;

    &:hover,
    &:focus {
      color: colors.$white;
      background-color: colors.$primary-dark;
      border-color: colors.$primary-dark;

      .button-icon {
        fill: colors.$white;
      }
    }

    &:disabled,
    &.button-disabled {
      background-color: colors.$white;
      border-color: colors.$primary-disabled;
      color: colors.$primary-disabled;
    }

    &:disabled .button-icon,
    &.button-disabled .button-icon {
      fill: colors.$grey-medium;
    }

    .button-icon {
      fill: colors.$primary;
    }
  }

  &-ternary,
  &-quaternary {
    @include fonts.button;

    color: colors.$black;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border: none;
    height: auto;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:disabled,
    &.button-disabled {
      text-decoration: none;
      color: colors.$grey-dark;
    }

    &:disabled .button-icon,
    &.button-disabled .button-icon {
      fill: colors.$grey-semi-dark;
    }

    .button-icon:not(.has-tooltip) {
      margin-right: rem.torem(8px);
    }

    .button-icon {
      fill: colors.$black;
    }

    &.button-center {
      .button-icon {
        margin-right: 0;
      }
    }
  }

  &-quaternary {
    @include fonts.caption;
    
    padding: 0 rem.torem(4px);
    border-radius: rem.torem(4px);
    margin-top: rem.torem(6px);
    margin-bottom: rem.torem(6px);
    color: colors.$black;

    .button-icon:not(.has-tooltip) {
      height: rem.torem(16px);
      width: rem.torem(16px);
      margin-right: rem.torem(4px);
    }

    &.button-left {
      .button-icon:not(.button-icon-arrow, .has-tooltip) {
        margin-right: rem.torem(4px);
      }
    }
  
    &.button-right {
      .button-icon:not(.button-icon-arrow, .has-tooltip) {
        margin-left: rem.torem(4px);
      }
    }

    &:focus {
      outline: none;
      border: rem.torem(1px) solid colors.$black;
      padding: rem.torem(2px) rem.torem(4px);
    }
  }

  &-box {
    background-color: colors.$white;
    justify-content: flex-start;
    width: 100%;
    padding: rem.torem(12px) rem.torem(8px);
    border: rem.torem(1px) solid colors.$grey-dark;
    border-radius: rem.torem(6px);
    height: rem.torem(44px);
    max-width: rem.torem(400px);

    &:hover:not(:disabled, .button-disabled) {
      box-shadow: rem.torem(0) rem.torem(3px) rem.torem(4px)
        colors.$grey-medium-shadow;
    }

    &:focus,
    &:focus-visible {
      &:not(.button-disabled) {
        outline: 0;
        position: relative;
        border-color: colors.$black;

        &::before {
          display: block;
          content: "";
          position: absolute;
          inset: rem.torem(-4px);
          border: 1px solid colors.$input-text-color;
          border-radius: rem.torem(8px);
        }
      }
    }

    .button-arrow-content {
      flex-grow: 1;
      text-align: left;
    }

    .button-icon {
      &:not(.button-icon-arrow) {
        fill: colors.$primary;
      }

      &.button-icon-arrow {
        fill: colors.$black;
      }
    }

    &:disabled,
    &.button-disabled {
      background: colors.$grey-light;
      border-color: colors.$grey-light;
      color: colors.$grey-dark;

      .button-icon {
        fill: colors.$grey-dark;
      }
    }
  }
}

.spinner-icon {
  height: rem.torem(20px);
  width: rem.torem(20px);
}

.loading-spinner {
  @media screen and (prefers-reduced-motion: reduce) {
    svg {
      animation: none;
    }
  }

  svg {
    animation: rotation 3s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.visually-hidden {
  @include a11y.visually-hidden;
}
