@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as size;

.columns,
.field.is-grouped {
  display: flex;
}

main {
  .section {
    margin-bottom: rem.torem(32px);
    padding-bottom: 0;
    padding-top: 0;

    .main-list-title {
      @include fonts.title4;

      border-bottom: thin solid colors.$grey-medium;
      margin: rem.torem(12px) 0;
      padding-bottom: rem.torem(8px);

      .main-list-title-text {
        @include fonts.title4;
      }

      span {
        margin-top: rem.torem(3.5px);
      }
    }

    .title-actions-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .advice {
    @include fonts.title4;

    margin-bottom: rem.torem(32px);

    a {
      border-bottom: rem.torem(1px) solid;

      &:focus,
      &:hover {
        color: colors.$primary;
      }
    }
  }

  &.fullscreen {
    grid-column: col-start / end-line;
    grid-row: row-nav / end-line;
    height: 100vh;

    .container {
      display: flex;
      max-width: rem.torem(1000px);
      min-height: 100%;
      width: rem.torem(1000px);

      .columns {
        min-height: 100%;
      }
    }
  }

  &.container {
    position: relative;
    max-width: rem.torem(874px);
    margin: rem.torem(-88px) auto 0 auto;
    padding-bottom: calc(size.$action-bar-sticky-height + rem.torem(16px));

    .page-content {
      background: colors.$white;
      box-shadow: 0 0 rem.torem(60px) colors.$black-shadow;
      border-radius: rem.torem(10px);

      .after-notification-content {
        padding: size.$main-content-padding;
        position: relative;

        &.with-padding {
          padding-top: rem.torem(74px);
        }
      }
    }
  }

  &.spinner-container {
    grid-column-start: col-main;
    grid-row-start: row-main;
  }
}
