@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_fonts.scss" as fonts;

.container {
  display: flex;
  gap: rem.torem(16px);
}

.details-timeline {
  flex-basis: 60%;
  flex-grow: 1;
  align-items: flex-start;

  &:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

.contact-details-title {
  @include fonts.button;

  margin-bottom: rem.torem(8px);
}

.contact-details {
  display: flex;
  width: rem.torem(315px);
  flex-direction: column;
  gap: rem.torem(8px);
  padding: rem.torem(16px);
  background-color: colors.$white;
  border-radius: rem.torem(6px);
  border: rem.torem(1px) solid #cbcdd2;
}

.contact-detail {
  display: flex;
  gap: rem.torem(8px);
  align-items: center;

  &-icon {
    display: flex;
    height: rem.torem(16px);
    width: rem.torem(16px);
    color: colors.$black;
  }

  &-location-icon {
    align-self: flex-start;
  }

  .link-ternary {
    @include fonts.button;

    color: colors.$black;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border: none;
    height: auto;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:disabled,
    &.button-disabled {
      color: colors.$grey-dark;
      text-decoration: none;
    }

    .button-icon {
      margin-right: rem.torem(8px);
    }

    &.button-center {
      .button-icon {
        margin-right: 0;
      }
    }
  }
}
