{% from "components/forms.html" import build_form_fields_group with context %}
{% from "components/generic_modal.html" import build_modal_form with context %}
<div class="row row-cols-1 g-4 py-3">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row justify-content-start">
          <h5 class="card-title">
            {{ user.firstName }} {{ user.lastName | upper }}
            {% for role in user.roles %}
              <span class="ms-5 me-2 badge rounded-pill text-bg-primary align-middle">{{ role | format_role }}</span>
            {% endfor %}
            {% if not user.isActive %}
              <span class="badge rounded-pill text-bg-secondary align-middle">{{ user.isActive | format_state }}</span>
            {% endif %}
            {% if duplicate_user_id %}
              <small><a href="{{ duplicate_user_id | pc_backoffice_public_account_link }}"
   target="_blank">User ID
              doublon : {{ duplicate_user_id }}</a></small>
            {% endif %}
          </h5>
          <div class="d-flex row-reverse justify-content-end flex-grow-1">
            {% if has_permission("MANAGE_PUBLIC_ACCOUNT") %}
              <button class="btn btn-outline-primary lead fw-bold mt-2 justify-content-end"
                      data-bs-toggle="modal"
                      data-bs-target="#edit-public-account-modal"
                      type="button">Modifier les informations</button>
              <div class="modal modal-lg fade"
                   id="edit-public-account-modal"
                   tabindex="-1"
                   aria-labelledby="edit-public-account-modal-label"
                   aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <form action="{{ url_for(".update_public_account", user_id=user.id) }}"
                          name="{{ url_for(".update_public_account", user_id=user.id) | action_to_name }}"
                          method="post">
                      <div class="modal-header">
                        <h5 class="modal-title">Modifier les informations</h5>
                      </div>
                      <div class="modal-body">
                        <div class="form-floating my-3">{{ build_form_fields_group(edit_account_form) }}</div>
                      </div>
                      <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-primary"
                                data-bs-dismiss="modal">Annuler</button>
                        <button type="submit"
                                class="btn btn-primary">Enregistrer</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        <h6 class="card-subtitle text-muted">User ID : {{ user.id }}</h6>
        <div class="d-flex justify-content-start">
          <div class="d-flex flex-column">
            <p class="my-1 ">
              <span class="fw-bold">Date de naissance</span>
              {% if user.birth_date %}<span>{{ user.birth_date | format_date }} ({{ user.age | empty_string_if_null }} ans)</span>{% endif %}
            </p>
            {% if user.dateOfBirth and user.dateOfBirth.date() != user.birth_date %}
              <p class="my-1 ">
                <span class="fw-bold">Date de naissance déclarée à l'inscription</span>
                <span>{{ user.dateOfBirth | format_date }}</span>
              </p>
            {% endif %}
            <p class="mb-1">
              <span class="fw-bold">Crédité le :</span> {{ user.deposit_activation_date | format_date }}
            </p>
            <p class="mb-1">
              <span class="fw-bold">Date de création du compte :</span> {{ user.dateCreated | format_date }}
            </p>
            <p class="mb-1">
              <span class="fw-bold">Date de dernière connexion :</span> {{ user.lastConnectionDate | format_date_time }}
            </p>
            <div class="mb-1">
              <span class="fw-bold">Adresse</span>
              <p class="mb-0">{{ user.address }}</p>
              <p>{{ user.postalCode | empty_string_if_null }}&nbsp;{{ user.city | empty_string_if_null }}</p>
            </div>
          </div>
          <div class="d-flex flex-column  ms-5">
            <div class="mb-1">
              <span class="fw-bold">Numéro de pièce d'identité</span>
              <p>{{ user.idPieceNumber | empty_string_if_null }}</p>
              <div class="mb-1">
                <span class="fw-bold">E-mail :</span> {{ user.email }}
                {% if has_permission("MANAGE_PUBLIC_ACCOUNT") %}
                  <form action="{{ url_for('.resend_validation_email', user_id=user.id) }}"
                        name="{{ url_for('.resend_validation_email', user_id=user.id) | action_to_name }}"
                        method="post">
                    {{ resend_email_validation_form.csrf_token }}
                    <button class="btn btn-outline-secondary btn-sm fw-bold mt-1">Renvoyer l'email de validation</button>
                  </form>
                {% endif %}
              </div>
              <div class="mb-1">
                <span class="fw-bold">Tél :</span> {{ user.phoneNumber | empty_string_if_null }}
                {% if has_permission("MANAGE_PUBLIC_ACCOUNT") %}
                  <div class="d-flex">
                    <div class="me-1">
                      <form action="{{ url_for('.send_validation_code', user_id=user.id) }}"
                            name="{{ url_for('.send_validation_code', user_id=user.id) | action_to_name }}"
                            method="post">
                        {{ send_validation_code_form.csrf_token }}
                        <button class="btn btn-outline-secondary btn-sm fw-bold mt-1">Envoyer un code de validation</button>
                      </form>
                    </div>
                    <form action="{{ url_for('.manually_validate_phone_number', user_id=user.id) }}"
                          name="{{ url_for('.manually_validate_phone_number', user_id=user.id) | action_to_name }}"
                          method="post">
                      {{ manual_phone_validation_form.csrf_token }}
                      <button class="btn btn-outline-secondary btn-sm fw-bold mt-1">Valider le numéro de téléphone</button>
                    </form>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="d-flex flex-column ms-auto align-items-end justify-content-around">
            {% if has_permission("SUSPEND_USER") and user.isActive %}
              <div>{{ build_modal_form("suspend", suspension_dst, suspension_form, "Suspendre le compte", "Confirmer la suspension") }}</div>
            {% elif has_permission("UNSUSPEND_USER") and not user.isActive %}
              <div>{{ build_modal_form("unsuspend", suspension_dst, suspension_form, "Réactiver le compte", "Confirmer la réactivation") }}</div>
            {% endif %}
            {% if has_permission("MANAGE_PUBLIC_ACCOUNT") %}
              <button class="btn btn-outline-primary lead fw-bold mt-2 justify-content-end"
                      data-bs-toggle="modal"
                      data-bs-target="#review-public-account-modal"
                      type="button">Revue manuelle</button>
              <div class="modal modal-lg fade"
                   id="review-public-account-modal"
                   tabindex="-1"
                   aria-labelledby="review-public-account-modal-label"
                   aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <form action="{{ url_for(".review_public_account", user_id=user.id) }}"
                          name="{{ url_for(".review_public_account", user_id=user.id) | action_to_name }}"
                          method="post">
                      <div class="modal-header">
                        <h5 class="modal-title">Revue manuelle</h5>
                      </div>
                      <div class="modal-body">
                        <div class="form-floating my-3">{{ build_form_fields_group(manual_review_form) }}</div>
                      </div>
                      <div class="modal-footer">
                        <button type="button"
                                class="btn btn-outline-primary"
                                data-bs-dismiss="modal">Annuler</button>
                        <button type="submit"
                                class="btn btn-primary">Enregistrer</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
