@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;

.password-input-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  margin-bottom: rem.torem(8px);
}

.password-input-eye-ico {
  width: rem.torem(20px) !important;
  height: rem.torem(20px) !important;
}

.password-tip-icon {
  position: absolute;
  right: rem.torem(16px);
  top: rem.torem(36px);
}
