{% from "components/badges.html" import build_user_offerer_status_badge %}
{% import "components/links.html" as links %}
{% from "components/turbo/lazy_modal.html" import build_lazy_modal with context %}
<turbo-frame id="offerer_users_frame">
{% if has_permission("VALIDATE_OFFERER") %}
  {% if add_user_form %}
    {% set add_pro_user_modal_label_id = random_hash() %}
    <button class="btn btn-outline-primary lead fw-bold mt-2"
            data-bs-toggle="modal"
            data-bs-target=".pc-add-pro-user-modal"
            type="button">Ajouter un compte pro</button>
    <div class="modal modal-lg fade pc-add-pro-user-modal"
         tabindex="-1"
         aria-describedby="{{ add_pro_user_modal_label_id }}"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header fs-5"
               id="{{ add_pro_user_modal_label_id }}">Ajouter un compte pro</div>
          <div class="mx-4 mt-4">Veuillez sélectionner le compte pro à rattacher à cette structure</div>
          <form action="{{ add_user_dst }}"
                name="{{ add_user_dst | action_to_name }}"
                method="post">
            <div class="modal-body">
              <div class="form-group">
                {% for form_field in add_user_form %}
                  <div class="w-100 my-4">
                    {% for error in form_field.errors %}<p class="text-warning lead">{{ error }}</p>{% endfor %}
                  </div>
                  {{ form_field }}
                {% endfor %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-outline-primary"
                      data-bs-dismiss="modal">Annuler</button>
              <button type="submit"
                      class="btn btn-primary">Valider le rattachement</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    <button class="btn lead fw-bold mt-2"
            type="button"
            disabled>Ajouter un compte pro</button>
  {% endif %}
{% endif %}
<table class="table table-hover my-4">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">Statut</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      {% set user_offerer = row.UserOfferer %}
      <tr>
        <td class="fw-bolder">
          <div class="dropdown">
            <button type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    class="btn p-0">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item p-0">
                <form action="{{ url_for("backoffice_v3_web.validation.validate_user_offerer",user_offerer_id=user_offerer.id) }}"
                      name="{{ url_for("backoffice_v3_web.validation.validate_user_offerer",user_offerer_id=user_offerer.id) | action_to_name }}"
                      method="post">
                  {{ csrf_token }}
                  <button type="submit"
                          class="btn btn-sm d-block w-100 text-start px-3">Valider</button>
                </form>
              </li>
              <li class="dropdown-item p-0">
                <a class="btn btn-sm d-block w-100 text-start px-3"
                   data-bs-toggle="modal"
                   data-bs-target="#reject-modal-{{ user_offerer.id }}">Rejeter</a>
              </li>
              <li class="dropdown-item p-0">
                <a class="btn btn-sm d-block w-100 text-start px-3"
                   data-bs-toggle="modal"
                   data-bs-target="#pending-modal-{{ user_offerer.id }}">Mettre en attente</a>
              </li>
            </ul>
          </div>
        </td>
        <td class="fw-bolder">{{ links.build_pro_user_name_to_details_link(row.id) }}</td>
        <td class="text-muted">{{ build_user_offerer_status_badge(user_offerer) }}</td>
        <td class="fw-bolder text-break">{{ row.lastName | empty_string_if_null }}</td>
        <td class="text-muted">{{ row.firstName | empty_string_if_null }}</td>
        <td class="fw-bolder">{{ row.email | empty_string_if_null }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% for user_offerer in rows | map(attribute="UserOfferer") %}
  {{ build_lazy_modal(
  url_for("backoffice_v3_web.validation.get_reject_user_offerer_form", user_offerer_id=user_offerer.id),
  "reject-modal-" + user_offerer.id|string) }}
  {{ build_lazy_modal(
  url_for("backoffice_v3_web.validation.get_user_offerer_pending_form", user_offerer_id=user_offerer.id),
  "pending-modal-" + user_offerer.id|string) }}
{% endfor %}
</turbo-frame>
