{% from "components/forms.html" import build_filters_form with context %}
{% import "components/links.html" as links %}
{% from "components/turbo/lazy_modal.html" import build_lazy_modal with context %}
{% extends "layouts/connected.html" %}
{% block page %}
  <div class="pt-3 px-5">
    <h2 class="fw-light">Offres collectives</h2>
    {{ build_filters_form(form, dst) }}
    <div>
      {% if rows %}
        <div class="d-flex justify-content-between">
          <p class="lead num-results">
            {{ rows | length }}{{ "+" if rows | length > 100 else "" }}
            résultat{{ "s" if rows | length > 1 else "" }}
          </p>
        </div>
        <table class="table mb-4">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">ID</th>
              <th scope="col">Nom de l'offre</th>
              <th scope="col">Catégorie</th>
              <th scope="col">Sous-catégorie</th>
              <th scope="col">État</th>
              <th scope="col">
                {% if date_created_sort_url %}
                  <a href="{{ date_created_sort_url }}"
                     class="text-decoration-none"
                     title="Changer pour un tri {{ 'croissant' if request.args.get('sort') == 'dateCreated' and request.args.get('order') == 'desc' else 'décroissant' }}">
                    Date de création
                    <i class="bi bi-sort-{{ 'down' if request.args.get('sort') == 'dateCreated' and request.args.get('order') == 'desc' else 'up' }}-alt"></i>
                  </a>
                {% else %}
                  Date de création
                {% endif %}
              </th>
              <th scope="col">Date de l'événement</th>
              <th scope="col">Structure</th>
              <th scope="col">Lieu</th>
              <th scope="col">{# icon #}</th>
            </tr>
          </thead>
          <tbody>
            {% for collective_offer in rows %}
              <tr>
                <td>
                  {% if has_permission("FRAUD_ACTIONS") %}
                    <div class="dropdown">
                      <button type="button"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                              class="btn p-0">
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item">
                          <a class="btn btn-sm d-block w-100 text-start px-3"
                             data-bs-toggle="modal"
                             data-bs-target="#validate-collective-offer-modal-{{ collective_offer.id }}">Valider l'offre</a>
                        </li>
                        <li class="dropdown-item">
                          <a class="btn btn-sm d-block w-100 text-start px-3"
                             data-bs-toggle="modal"
                             data-bs-target="#reject-collective-offer-modal-{{ collective_offer.id }}">Rejeter l'offre</a>
                        </li>
                      </ul>
                    </div>
                  {% endif %}
                </td>
                <td>{{ collective_offer.id }}</td>
                <td>{{ links.build_offer_name_to_pc_pro_link(collective_offer) }}</td>
                <td>{{ collective_offer.category.pro_label }}</td>
                <td>{{ collective_offer.subcategory.pro_label }}</td>
                <td>{{ collective_offer.validation | format_offer_validation_status }}</td>
                <td>{{ collective_offer.dateCreated | format_date }}</td>
                <td>{{ collective_offer.collectiveStock.beginningDatetime | format_date }}</td>
                <td>{{ links.build_offerer_name_to_details_link(collective_offer.venue.managingOfferer) }}</td>
                <td>{{ links.build_venue_name_to_details_link(collective_offer.venue) }}</td>
                <td>{{ links.build_venue_offers_icon_link(".list_collective_offers", "Offres collectives", collective_offer.venue) }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% for collective_offer in rows %}
          {{ build_lazy_modal(url_for('backoffice_v3_web.collective_offer.get_validate_collective_offer_form', collective_offer_id=collective_offer.id), "validate-collective-offer-modal-" + collective_offer.id|string) }}
          {{ build_lazy_modal(url_for('backoffice_v3_web.collective_offer.get_reject_collective_offer_form', collective_offer_id=collective_offer.id), "reject-collective-offer-modal-" + collective_offer.id|string) }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock page %}
