@use "styles/variables/_colors.scss" as colors;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.vertical-bar {
  background-color: colors.$grey-medium;
  height: rem.torem(40px);
  width: rem.torem(1px);
}

.filters-wrapper {
  margin-top: rem.torem(16px);

  .fw-first-line {
    border-radius: rem.torem(20px);
    display: flex;
    justify-content: flex-start;
    margin-bottom: rem.torem(32px);

    &.disabled {
      box-shadow: none;
    }

    &:focus-within {
      .vertical-bar {
        background-color: colors.$primary;
        margin-right: 0;
        width: rem.torem(2px);
      }
    }

    .vertical-bar {
      margin-right: rem.torem(1px);
    }

    .fw-booking-text-filters-select {
      @include fonts.button;

      appearance: none;
      background: url("/icons/dropdown-disclosure-down-b.svg") no-repeat 92% 56%;
      border: rem.torem(1px) solid colors.$grey-medium;
      border-radius: rem.torem(20px) 0 0 rem.torem(20px);
      border-right: none;
      height: rem.torem(40px);
      outline: none;
      padding-left: rem.torem(16px);
      width: rem.torem(250px);

      &:focus {
        border-color: colors.$primary;
        border-width: rem.torem(2px);
        padding-left: rem.torem(16px);
      }

      &:disabled {
        @include fonts.body-important;

        background-color: colors.$grey-light;
        background-image: url("/icons/dropdown-disclosure-down-b-disabled.svg");
        border-color: colors.$grey-light;
        color: colors.$grey-dark;
        cursor: initial;
        opacity: 1;
      }
    }

    .fw-booking-text-filters-input {
      @include fonts.body;

      border: rem.torem(1px) solid colors.$grey-medium;
      border-left: none;
      border-radius: 0 rem.torem(20px) rem.torem(20px) 0;
      flex-grow: 1;
      height: rem.torem(40px);
      padding: rem.torem(8px) rem.torem(16px);

      &:focus {
        border-color: colors.$primary;
        border-width: rem.torem(2px);
        outline: none;
      }

      &:disabled {
        background-color: colors.$grey-light;
        border-color: colors.$grey-light;
        color: colors.$grey-dark;
        opacity: 1;

        &::placeholder {
          color: colors.$grey-dark;
        }
      }
    }
  }

  .fw-second-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem.torem(32px);

    .field-date {
      align-items: center;
      background-image: url("/icons/ico-calendar-big.svg");
      background-position-x: 90%;
      background-position-y: center;
      background-repeat: no-repeat;
      background-size: rem.torem(16px);
      border-radius: rem.torem(20px);
      display: flex;
      height: rem.torem(40px);

      &:focus-within {
        border-color: colors.$primary;
        border-width: rem.torem(2px);
      }

      &.disabled {
        background-image: url("/icons/ico-calendar-disabled.svg");
      }
    }

    .react-datepicker-wrapper {
      display: inherit;
    }

    .fw-offer-date {
      button {
        outline: none;
      }

      .field-date {
        border: rem.torem(1px) solid colors.$grey-medium;
        box-shadow: rem.torem(2px) rem.torem(2px) rem.torem(6px) 0
          colors.$black-shadow;
        margin-top: rem.torem(16px);
        padding: 0 rem.torem(1px);
        width: rem.torem(233px);

        &.disabled {
          box-shadow: none;
        }
      }

      .fw-offer-date-picker:focus-within {
        .field-date {
          border-color: colors.$primary;
          border-width: rem.torem(2px);
          padding: 0;
        }
      }

      .fw-offer-date-label {
        margin-bottom: rem.torem(16px);
      }

      .fw-offer-date-input {
        @include fonts.body;

        background: none;
        border: 0;
        outline: none;
        padding-left: rem.torem(8px);
        width: rem.torem(150px);

        &:disabled {
          color: colors.$grey-dark;
          cursor: initial;
          opacity: 1;

          &::placeholder {
            color: colors.$grey-dark;
          }
        }
      }
    }

    .fw-venues {
      display: flex;
      flex-direction: column;

      .fw-offer-venue-label {
        @include fonts.body;
      }

      select {
        @include fonts.body;

        appearance: none;
        background: url("/icons/dropdown-disclosure-down-b.svg") no-repeat 92%
          56%;
        border: rem.torem(1px) solid colors.$grey-medium;
        border-radius: rem.torem(20px);
        box-shadow: rem.torem(1px) rem.torem(2px) rem.torem(6px) 0
          colors.$black-shadow;
        height: rem.torem(40px);
        margin-top: rem.torem(16px);
        outline: none;
        overflow-y: scroll;
        padding-left: rem.torem(16px);
        padding-right: rem.torem(32px);
        text-overflow: ellipsis;
        white-space: nowrap;
        width: rem.torem(233px);
        word-wrap: break-word;

        &:focus {
          border-color: colors.$primary;
          border-width: rem.torem(2px);
        }

        &:disabled {
          background-color: colors.$grey-light;
          background-image: url("/icons/dropdown-disclosure-down-b-disabled.svg");
          border-color: colors.$grey-light;
          box-shadow: none;
          color: colors.$grey-dark;
          cursor: initial;
          opacity: 1;
        }
      }
    }

    .field-date-only {
      border: rem.torem(1px) solid colors.$grey-medium;
    }
  }
}

.bs-filter {
  position: relative;

  .bs-filter-label {
    @include fonts.caption;

    color: colors.$grey-dark;
    padding-bottom: rem.torem(8px);
    white-space: nowrap;
  }

  .bs-filter-tooltip {
    background-color: colors.$white;
    border-radius: rem.torem(4px);
    box-shadow: 0 rem.torem(2px) rem.torem(10px) 0 rgb(0 0 0 / 30%);
    left: rem.torem(-90px);
    margin-top: rem.torem(8px);
    padding: rem.torem(16px);
    position: absolute;
    z-index: 1;
  }

  label {
    @include fonts.body;

    display: flex;
    padding-bottom: rem.torem(8px);
    padding-top: rem.torem(8px);
    white-space: nowrap;
  }
}

.bs-filter-button {
  background-color: transparent;
  border: none;
  line-height: rem.torem(20px);
  vertical-align: middle;

  img {
    height: rem.torem(20px);
    vertical-align: middle;
    width: rem.torem(20px);
  }
}

.table-head-label {
  @include fonts.caption;

  color: colors.$black;
  line-height: rem.torem(20px);
  min-height: rem.torem(60px);
  padding: rem.torem(14px);
  vertical-align: middle;
  text-align: left;

  .status-filter {
    padding-left: 0;
  }
}
