@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.offers-page {
  .op-title {
    @include fonts.title3;

    display: inline-block;
    margin: 0 rem.torem(20px) rem.torem(24px) 0;
  }

  .offerer-filter {
    @include fonts.caption;

    align-items: center;
    background-color: colors.$notification-info;
    border: none;
    border-radius: rem.torem(24px);
    display: flex;
    height: rem.torem(32px);
    justify-content: space-between;
    margin-bottom: rem.torem(16px);
    padding: rem.torem(5px) rem.torem(15px);
    width: max-content;

    button {
      align-items: center;
      background: none;
      border: none;
      display: flex;
      margin-left: rem.torem(8px);

      img {
        height: rem.torem(14px);
        width: rem.torem(14px);
      }
    }
  }

  form {
    margin-bottom: rem.torem(20px);
  }

  .input-select {
    margin-top: rem.torem(24px);
    width: rem.torem(173.44px);
  }

  .period-filter {
    margin-left: rem.torem(10px);
    margin-top: rem.torem(24px);
  }

  .period-filter-inputs {
    box-shadow: none;
    margin-top: rem.torem(8px);
  }

  .field-date-begin {
    border-bottom-left-radius: rem.torem(20px);
    border-right: none;
    border-top-left-radius: rem.torem(20px);
  }

  .field-date-end {
    border-bottom-right-radius: rem.torem(20px);
    border-left: none;
    border-top-right-radius: rem.torem(20px);
  }

  .form-row {
    display: flex;
    flex-direction: row;

    .input-select {
      margin-left: rem.torem(10px);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  table {
    width: 100%;

    th {
      @include fonts.caption;

      color: colors.$black;
      padding: 0 rem.torem(8px) rem.torem(10px);
      text-align: left;
    }

    .th-checkbox {
      display: flex;
      padding: 0;

      input {
        @include fonts.body-important;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }

    .th-checkbox-label {
      max-width: rem.torem(82px);
      overflow: visible;
      white-space: nowrap;

      &.label-disabled {
        opacity: 0.3;

        label {
          cursor: not-allowed;
        }
      }
    }

    th.th-with-filter {
      position: relative;

      & > button {
        align-items: center;
        background-color: transparent;
        border: none;
        color: inherit;
        display: flex;
        font-size: inherit;
        font-weight: inherit;
        outline: none;

        img {
          filter: brightness(0) invert(0);
          height: rem.torem(16px);
          margin-left: rem.torem(10px);
          margin-top: rem.torem(2px);
          width: rem.torem(16px);

          &.active-status-filter {
            filter: unset;
          }
        }

        &:focus {
          & img {
            border: rem.torem(1px) solid colors.$primary;
            border-radius: rem.torem(4px);
            filter: unset;
          }
        }

        &:disabled {
          cursor: not-allowed;
        }
      }
    }

    th.th-actions {
      text-align: right;
    }

    tbody > tr {
      border-bottom: rem.torem(1px) solid colors.$grey-medium;

      td {
        padding: rem.torem(16px) rem.torem(10px);
        vertical-align: middle;
      }

      td:last-child {
        padding-right: 0;
      }

      td:first-child {
        padding-left: 0;
      }

      &:first-child {
        td {
          padding-top: 0;
        }
      }
    }
  }

  .loading-spinner {
    margin-top: rem.torem(70px);
  }
}
