@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

$body-line-height: rem.torem(20px);
$body-font-size: rem.torem(15px);
$caption-line-height: rem.torem(16px);

/* stylelint-disable pass-culture/no-font-properties */
@mixin hero() {
  font-size: rem.torem(38px);
  font-style: normal;
  font-weight: 500;
}

@mixin exception() {
  font-size: rem.torem(28px);
  font-weight: 400;
}

@mixin title1() {
  font-size: rem.torem(26px);
  font-style: normal;
  font-weight: 800;
  line-height: rem.torem(34px);
}

@mixin title2() {
  font-size: rem.torem(22px);
  font-style: normal;
  font-weight: 500;
  line-height: rem.torem(26px);
}

@mixin title3() {
  font-size: rem.torem(20px);
  font-style: normal;
  font-weight: 700;
  line-height: rem.torem(24px);
}

@mixin title4() {
  font-size: rem.torem(18px);
  font-style: normal;
  font-weight: 600;
  line-height: rem.torem(22px);
}

@mixin button() {
  font-size: rem.torem(15px);
  font-weight: 700;
}

@mixin body() {
  font-size: $body-font-size;
  font-weight: 400;
  line-height: $body-line-height;
}

@mixin body-important() {
  font-size: rem.torem(15px);
  font-weight: 500;
}

@mixin caption() {
  font-size: rem.torem(12px);
  font-weight: 600;
  line-height: $caption-line-height;
}

// seems future captions will be smaller
@mixin small-caption() {
  font-size: rem.torem(12px);
  font-weight: 600;
}

@mixin preview-text() {
  font-size: rem.torem(12px);
  font-weight: 400;
  line-height: rem.torem(16px);
}

@mixin highlight() {
  font-size: rem.torem(12px);
  font-weight: 600;
}

@mixin mini-highlight() {
  font-size: rem.torem(10px);
  font-weight: 600;
}

@mixin gabarit() {
  font-size: rem.torem(18px);
  font-style: normal;
  font-weight: 300;
}

@mixin placeholder() {
  font-size: rem.torem(15px);
  font-style: italic;
  font-weight: 400;
}

@mixin bold() {
  font-weight: 700;
}
