<turbo-frame id="turbo-{{ div_id }}">
<form action="{{ dst }}"
      name="{{ dst | action_to_name }}"
      method="post"
      target="_top"
      data-turbo="false"
      class="modal-content">
  {{ csrf_token }}
  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Fermer"></button>
  </div>
  <div class="modal-body row">
    <div class="d-flex flex-column">
      {% if information %}<div class="my-1">{{ information | safe }}</div>{% endif %}
      {% for form_field in form %}
        {% if "Hidden" in form_field.type %}
          {{ form_field }}
        {% else %}
          <div class="my-1">{{ form_field }}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-primary"
            data-bs-dismiss="modal">Annuler</button>
    <button type="submit"
            class="btn btn-primary">{{ button_text }}</button>
  </div>
</form>
</turbo-frame>
