<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="description"
          content="pass Culture Backoffice" />
    <meta name="keywords"
          content="pass Culture,Backoffice" />
    <meta name="robots"
          content="noindex,nofollow" />
    <meta name="csrf-token"
          content="{{ csrf_token.current_token }}">
    <title>Backoffice</title>
    <link rel="icon"
          type="image/x-icon"
          href="{{ url_for('static', filename='backofficev3/favicon.ico' ) }}" />
    <!-- Bootstrap icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <!-- Tom Select JS configuration -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css"
          rel="stylesheet" />
    <link href="{{ url_for('static', filename='backofficev3/css/tom-select-bootstrap-5.min.css') }}"
          rel="stylesheet"
          type="text/css" />
    <!-- Our css needs to be imported after Bootstrap to have a stronger weight -->
    <link href="{{ url_for('static', filename='backofficev3/css/compiled/pc/pc.css') }}"
          rel="stylesheet"
          type="text/css" />
    <!-- Hotwired turbo frame -->
    <script type="module">
      import * as Turbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
    <!-- Our core libs -->
    <script src="{{ url_for('static', filename='backofficev3/js/core/pc-utils.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/core/pc-event-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/core/pc-addon.js') }}"></script>
    <!-- Our JS libs -->
    <script src="{{ url_for('static', filename='backofficev3/js/addons/bs-tooltips.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-validation-filters.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-forms-check-validity.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-tom-select-field.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-override-custom-textarea-enter.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-table-multi-select.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-batch-action-form.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-postal-address-autocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-registration-steps.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-filter-dataset.js') }}"></script>
    <script src="{{ url_for('static', filename='backofficev3/js/addons/pc-confirm-modal.js') }}"></script>
    <!-- Our app -->
    <script src="{{ url_for('static', filename='backofficev3/js/pc-backoffice-app.js') }}"></script>
    <script>
      const app = new PcBackofficeApp({
        addOns: [
          BsTooltips,
          PcFilterDataset,
          PcFormsCheckValidity,
          PcValidationFilters,
          PcTomSelectField,
          PcOverrideCustomTextareaEnter,
          PcTableMultiSelect,
          PcBatchActionForm,
          PcPostalAddressAutocomplete,
          PcRegistrationSteps,
          PcConfirmModal,
        ]
      })
    </script>
    <!-- Useful for local script and styles modification per-view -->
    {% block head %}
    {% endblock head %}
  </head>
  {#  Navigation with turbolink is disabled because bootstrap is not reloaded and so is not working after navigation  #}
  <body data-turbo="false"
        class="data-bs-no-jquery">
    {% block content %}
    {% endblock content %}
  </body>
</html>
