{% import "components/links.html" as links %}
{% from "components/bookings/extra_row.html" import build_booking_toggle_extra_row_button with context %}
{% if bookings %}
  <table class="table mb-4 get-details-bookings-view">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Offreur</th>
        <th scope="col">Nom de l'offre</th>
        <th scope="col">Prix</th>
        <th scope="col">Date de résa</th>
        <th scope="col">État</th>
        <th scope="col">Contremarque</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
        <tr>
          <th scope="row">{{ build_booking_toggle_extra_row_button(booking) }}</th>
          <td>{{ booking.offerer.name | escape }}</td>
          <td>{{ links.build_offer_name_to_pc_pro_link(booking.stock.offer) }}</td>
          <td>
            {{ booking.amount | format_amount }}
            {% if booking.stock.offer.isDuo and booking.quantity == 2 %}(Duo){% endif %}
          </td>
          <td>{{ booking.dateCreated | format_date("Le %d/%m/%Y à %Hh%M") }}</td>
          <td>{{ booking.status | format_booking_status_long | safe }}</td>
          <td>{{ booking.token | empty_string_if_null }}</td>
        </tr>
        <tr class="collapse accordion-collapse pc-booking-{{ booking.id }}"
            data-bs-parent=".table">
          <td colspan="7">
            <div class="card shadow-sm p-3">
              {% if booking.stock.beginningDatetime %}
                <p class="mb-1">
                  <span class="fw-bold">Date de l'évènement :</span>
                  {{ booking.stock.beginningDatetime | format_date_time }}
                </p>
              {% endif %}
              {% if booking.is_used_or_reimbursed %}
                <p class="mb-1">
                  <span class="fw-bold">Utilisée le :</span>
                  {{ booking.dateUsed | format_date_time }}
                </p>
              {% elif booking.isCancelled %}
                <p class="mb-1">
                  <span class="fw-bold">Annulée le :</span>
                  {{ booking.cancellationDate | format_date_time }}
                </p>
                <p class="mb-1">
                  <span class="fw-bold">Motif d'annulation :</span>
                  {{ booking.cancellationReason | format_booking_cancellation_reason }}
                </p>
              {% endif %}
              <p class="mb-1">
                <span class="fw-bold">Type d'offre :</span>
                {% if booking.stock.offer.isDigital %}
                  Numérique
                {% else %}
                  Physique
                {% endif %}
              </p>
              <p class="mb-1">
                <span class="fw-bold">Catégorie :</span>
                {{ booking.stock.offer.subcategoryId | format_offer_category }}
              </p>
              <p class="mb-1">
                <span class="fw-bold">Crédit utilisé par le jeune :</span>
                {{ booking.deposit.type | format_deposit_type | safe }}
              </p>
              <p class="mb-1">
                <span class="fw-bold">E-mail du pro :</span>
                {{ booking.venue.bookingEmail | empty_string_if_null }}
              </p>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="m-5">Aucune réservation à ce jour</p>
{% endif %}
