{% import "components/public_accounts/registration_steps.html" as macro with context %}
{% set builded_steps = [] %}
{% for step in tunnel.steps %}
  {% set _ = builded_steps.append(macro.build_step('step-' + step.step_id|string, step.description, step.subscription_item_status, step.icon, step.status)) %}
{% endfor %}
{% call macro.build_registration_steps(tunnel, builded_steps) %}
  <div class="col-6 form-check form-switch m-3 form-switch-show-all-steps">
    {% set switch_boolean_field_id = random_hash() %}
    <input class="form-check-input"
           type="checkbox"
           role="switch"
           name="show_all_steps"
           id="{{ switch_boolean_field_id }}" />
    <label role="button"
           class="form-check-label pc-switch-boolean-field-label pt-1"
           for="{{ switch_boolean_field_id }}">Voir tout</label>
  </div>
  {% for step in tunnel.steps %}
    {% call macro.build_step_content(step) %}
      {{ macro.build_idcheck_histories(step.id_check_histories) }}
    {% endcall %}
  {% endfor %}
  <div class="row all-id-check-history-container d-none">
    <div class="col-md-12 well text-center">{{ macro.build_idcheck_histories(id_check_histories_desc) }}</div>
  </div>
{% endcall %}
