@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_size.scss" as size;

main.app-layout {
  display: flex;
  flex-direction: column;
  grid-column-start: col-main;
  grid-row-start: row-nav;
}

.root-adage {
  display: grid;
  grid-template-columns: [col-start] 1fr [col-main] 9fr 1fr;
  grid-template-rows: [row-nav] rem.torem(72px) [row-header] rem.torem(80px) [row-main] 1fr [row-footer] rem.torem(
      120px
    );
  min-height: 100vh;
}

.app-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: rem.torem(24px) 0 rem.torem(32px);

  .app-logo {
    width: rem.torem(120px);
    fill: #7b1e82;
  }

  &-right {
    display: flex;
    align-items: center;

    .app-layout-header-title {
      margin: 0;
      font-size: rem.torem(20px);
      font-weight: 700;
    }
  }
}

.app-layout-header-help-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  margin-left: rem.torem(24px);
  font-weight: 600;
  font-size: rem.torem(12px);

  &-icon {
    margin-right: rem.torem(4px);
  }
}
