@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.offer-item {
  grid-template-rows: auto auto;

  &.inactive {
    .offer-thumb {
      opacity: 0.5;
    }

    .name {
      color: colors.$grey-semi-dark;
    }
  }
}

.offer-thumb {
  height: rem.torem(84px);
  width: rem.torem(82px);
}

.name {
  @include fonts.button;

  display: block;
  margin-bottom: rem.torem(4px);
  overflow-wrap: break-word;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.offer-template-tag {
  margin-bottom: rem.torem(4px);
}

.edit-column {
  width: rem.torem(40px);
}

.switch-column,
.draft-column {
  width: rem.torem(136px);
}

.stock-column,
.institution-column {
  width: rem.torem(100px);
}

.title-column {
  max-width: rem.torem(185px);
}

.status-column {
  width: rem.torem(140px);
}

.venue-column {
  width: rem.torem(135px);
  max-width: rem.torem(135px);
  word-break: break-word;
}

.thumb-column {
  width: rem.torem(82px);
}

.actions-column {
  display: table-cell;
  text-align: center;
  width: rem.torem(140px);

  &-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem.torem(4px);
  }
}

.isbn {
  margin-top: rem.torem(8px);
}

.stocks {
  @include fonts.caption;

  color: colors.$grey-dark;
  display: flex;
  font-size: rem.torem(14px);
  align-items: center;

  a {
    color: colors.$primary;
  }

  .sold-out {
    width: rem.torem(24px);
    height: rem.torem(24px);
  }

  .sold-out-dates {
    background-color: colors.$white;
    border-radius: rem.torem(4px);
    box-shadow: 0 rem.torem(2px) rem.torem(10px) 0 rgb(0 0 0 / 30%);
    display: none;
    margin-left: rem.torem(8px);
    padding: rem.torem(8px);
    position: absolute;

    img {
      margin-left: 0;
      margin-right: rem.torem(9px);
      width: rem.torem(20px);
    }
  }

  .sold-out-icon {
    &:hover,
    &:focus {
      & ~ .sold-out-dates {
        display: flex;
      }
    }
  }
}
