{% from "components/badges.html" import build_pro_user_status_badge %}
{% from "components/generic_modal.html" import build_modal_form with context %}
{% from "components/forms.html" import build_form_fields_group with context %}
{% from "components/generic_modal.html" import build_modal_form with context %}
{% from "components/turbo/spinner.html" import build_loading_spinner with context %}
{% extends "layouts/pro.html" %}
{% block pro_main_content %}
  <div class="row row-cols-1 g-4 py-3">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <div class="row justify-content-start align-items-center">
            <div class="col d-flex align-items-center justify-content-start">
              <h2 class="card-title mb-3 text-primary">{{ user.firstName }} {{ user.lastName | upper }}</h2>
              <div class="fs-5 ps-4 mb-3 align-middle">
                {% for role in user.roles %}<span class="badge rounded-pill text-bg-secondary align-middle">{{ role | format_role }}</span>{% endfor %}
                {% if not user.isActive %}
                  <span class="badge rounded-pill text-bg-danger align-middle">{{ user.isActive | format_state }}</span>
                {% endif %}
                {{ build_pro_user_status_badge(user) }}
              </div>
            </div>
            <div class="col-2">
              {% if has_permission("MANAGE_PRO_ENTITY") %}
                {% set edit_pro_user_information_label_id = random_hash() %}
                <button class="btn btn-outline-primary lead fw-bold mt-2"
                        data-bs-toggle="modal"
                        data-bs-target=".pc-edit-pro-user-modal"
                        type="button">Modifier les informations</button>
                <div class="modal modal-lg fade pc-edit-pro-user-modal"
                     tabindex="-1"
                     aria-describedby="{{ edit_pro_user_information_label_id }}"
                     aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header fs-5"
                           id="{{ edit_pro_user_information_label_id }}">
                        Modification des informations
                        de {{ user.firstName }} {{ user.lastName | upper }}
                      </div>
                      <form action="{{ dst }}"
                            name="{{ dst | action_to_name }}"
                            method="post">
                        <div class="modal-body">{{ build_form_fields_group(form) }}</div>
                        <div class="modal-footer">
                          <button type="button"
                                  class="btn btn-outline-primary"
                                  data-bs-dismiss="modal">Annuler</button>
                          <button type="submit"
                                  class="btn btn-primary">Enregistrer</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if has_permission("SUSPEND_USER") and user.isActive %}
                {{ build_modal_form("suspend", suspension_dst, suspension_form, "Suspendre le compte", "Confirmer la suspension") }}
              {% elif has_permission("UNSUSPEND_USER") and not user.isActive %}
                {{ build_modal_form("unsuspend", suspension_dst, suspension_form, "Réactiver le compte", "Confirmer la réactivation") }}
              {% endif %}
            </div>
          </div>
          <p class="card-subtitle text-muted mb-3 h5">User ID : {{ user.id }}</p>
          <div class="row pt-3">
            <div class="col-4">
              <div class="fs-6">
                <p class="mb-1">
                  <span class="fw-bold">E-mail :</span> {{ user.email }}
                </p>
                <p class="mb-1">
                  <span class="fw-bold">Tél :</span> {{ user.phoneNumber | empty_string_if_null }}
                </p>
              </div>
            </div>
            <div class="col-4">
              <div class="fs-6">
                <p class="mb-1">
                  <span class="fw-bold">Code postal :</span> {{ user.postalCode | empty_string_if_null }}
                </p>
                <p class="mb-1">
                  <span class="fw-bold">Département :</span> {{ user.departementCode | empty_string_if_null }}
                </p>
              </div>
            </div>
            <div class="col-4">
              <div class="fs-6">
                <p class="mb-1">
                  <span class="fw-bold">Email validé :</span> {{ "Oui" if user.isEmailValidated else "Non" }}
                </p>
                {% if not user.isEmailValidated and has_permission("MANAGE_PRO_ENTITY") %}
                  <p class="mb-1">
                    {{ build_modal_form("validate-email", url_for("backoffice_v3_web.pro_user.validate_pro_user_email", user_id=user.id), empty_form, "Valider l'adresse e-mail", "Confirmer la validation de l'adresse e-mail", "Vous êtes sur le point de valider l'adresse e-mail, êtes-vous sûr ?") }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <turbo-frame data-turbo="false" id="pro_user_details_frame" src="{{ url_for("backoffice_v3_web.pro_user.get_details", user_id=user.id, active_tab=request.args.get("active_tab", "history")) }}">
        {{ build_loading_spinner() }}
        </turbo-frame>
      </div>
    </div>
  </div>
{% endblock pro_main_content %}
