@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_forms.scss" as forms;
@use "styles/variables/_colors.scss" as colors;
@use "styles/variables/_size.scss" as size;
@use "styles/mixins/_fonts.scss" as fonts;

.section {
  padding: rem.torem(16px);
  border: 1px solid colors.$grey-medium-shadow;
  border-radius: rem.torem(8px);
  margin-bottom: rem.torem(16px);
}

.legend {
  @include fonts.title4;

  display: flex;
  align-items: center;
  gap: rem.torem(10px);
  margin-bottom: rem.torem(16px);

  &-icon {
    width: rem.torem(20px);
    height: rem.torem(20px);

    path {
      fill: colors.$tertiary;
    }
  }
}

.radio-group {
  display: flex;
  gap: rem.torem(8px);
  margin-bottom: rem.torem(16px);
}

.action-buttons {
  display: flex;
  gap: rem.torem(24px);
  justify-content: center;
}

.beginning-time-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem.torem(8px);
  gap: rem.torem(16px);
}

.beginning-time-input {
  max-width: rem.torem(100px);
}

.align-icon {
  @include size.input-center-with-top-margin(size.$button-icon-size);
}

.date-input {
  width: rem.torem(200px);
  margin-bottom: 0;

  svg {
    width: rem.torem(20px);
  }
}

.quantity-input {
  width: rem.torem(172px);
}

.price-category-input {
  width: rem.torem(328px);
}

.booking-date-limit-container {
  display: flex;
  gap: rem.torem(8px);
}

.booking-date-limit-input {
  width: rem.torem(72px);
  margin-bottom: 0;
}

.booking-date-limit-text {
  @include size.input-center-with-top-margin(fonts.$body-font-size, true);
}

// Temporary code
.coming-soon {
  position: relative;

  &::before {
    @include fonts.mini-highlight;

    line-height: rem.torem(12px);
    content: "Bientôt";
    background-color: colors.$tertiary;
    color: colors.$white;
    border-radius: rem.torem(2px);
    padding: rem.torem(2px) rem.torem(4px);
    transform: rotate(-6deg) translateY(-50%);

    // Magic values to make the label looks good
    position: absolute;
    top: 0;
    right: rem.torem(20px);
  }
}
