{% from "components/bookings/extra_row.html" import build_booking_toggle_extra_row_button with context %}
{% from "components/bookings/extra_row.html" import build_booking_extra_row with context %}
{% import "components/forms.html" as forms with context %}
{% import "components/links.html" as links %}
{% extends "layouts/connected.html" %}
{% set validate_booking_aria_described_by_id = random_hash() %}
{% set cancel_booking_aria_described_by_id = random_hash() %}
{% block page %}
  <div class="pt-3 px-5">
    <h2 class="fw-light">Réservations individuelles</h2>
    <div class="filters">{{ forms.build_filters_form(form, dst) }}</div>
    <div>
      {% if rows %}
        <div class="d-flex justify-content-between">
          <p class="lead num-results">{{ rows|length }} résultat{{ "s" if rows|length > 1 else "" }}</p>
        </div>
        <table class="table mb-4">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">ID résa</th>
              <th scope="col">Contremarque</th>
              <th scope="col">Bénéficiaire</th>
              <th scope="col">Nom de l'offre</th>
              <th scope="col">ID offre</th>
              <th scope="col">Résa duo</th>
              <th scope="col">Stock</th>
              <th scope="col">Montant</th>
              <th scope="col">Statut</th>
              <th scope="col">Date de réservation</th>
              <th scope="col">Date de l'événement</th>
              <th scope="col">Structure</th>
              <th scope="col">Lieu</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in rows %}
              {% set offer = booking.stock.offer %}
              <tr>
                <th scope="row">
                  <div class="d-flex">
                    {{ build_booking_toggle_extra_row_button(booking) }}
                    <div class="mx-2 dropdown">
                      {% if has_permission("MANAGE_BOOKINGS") %}
                        <button type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                class="btn p-0"
                                {% if booking.isReimbursed %}disabled{% endif %}>
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          {% if booking.isCancelled %}
                            <li class="dropdown-item p-0">
                              <a class="btn btn-sm d-block w-100 text-start px-3"
                                 data-bs-toggle="modal"
                                 data-bs-target=".pc-validate-booking-modal-{{ booking.id }}">Valider la réservation</a>
                            </li>
                          {% elif not booking.isReimbursed %}
                            <li class="dropdown-item p-0">
                              <a class="btn btn-sm d-block w-100 text-start px-3"
                                 data-bs-toggle="modal"
                                 data-bs-target=".pc-cancel-booking-modal-{{ booking.id }}">Annuler la réservation</a>
                            </li>
                          {% endif %}
                        </ul>
                        {% if booking.isCancelled %}
                          <div class="modal modal-lg fade pc-validate-booking-modal-{{ booking.id }}"
                               tabindex="-1"
                               aria-labelledby="{{ validate_booking_aria_described_by_id }}"
                               aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <form action="{{ url_for("backoffice_v3_web.individual_bookings.mark_booking_as_used", booking_id=booking.id) }}"
                                      name="{{ url_for("backoffice_v3_web.individual_bookings.mark_booking_as_used", booking_id=booking.id) | action_to_name }}"
                                      method="post"
                                      data-turbo="false">
                                  <div class="modal-header"
                                       id="{{ validate_booking_aria_described_by_id }}">
                                    <h5 class="modal-title">Valider la réservation {{ booking.token }}</h5>
                                  </div>
                                  <div class="modal-body row">{{ forms.build_form_fields_group(mark_as_used_booking_form) }}</div>
                                  <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-outline-primary"
                                            data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit"
                                            class="btn btn-primary">Confirmer</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        {% elif not booking.isReimbursed %}
                          <div class="modal modal-lg fade pc-cancel-booking-modal-{{ booking.id }}"
                               tabindex="-1"
                               aria-labelledby="{{ cancel_booking_aria_described_by_id }}"
                               aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <form action="{{ url_for("backoffice_v3_web.individual_bookings.mark_booking_as_cancelled", booking_id=booking.id) }}"
                                      name="{{ url_for("backoffice_v3_web.individual_bookings.mark_booking_as_cancelled", booking_id=booking.id) | action_to_name }}"
                                      method="post"
                                      data-turbo="false">
                                  <div class="modal-header"
                                       id="{{ cancel_booking_aria_described_by_id }}">
                                    <h5 class="modal-title">Annuler la réservation {{ booking.token }}</h5>
                                  </div>
                                  <div class="modal-body row">{{ forms.build_form_fields_group(cancel_booking_form) }}</div>
                                  <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-outline-primary"
                                            data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit"
                                            class="btn btn-primary">Confirmer</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </th>
                <td>{{ booking.id }}</td>
                <td>{{ booking.token }}</td>
                <td>{{ links.build_public_user_name_to_details_link(booking.user) }}</td>
                <td>{{ links.build_offer_name_to_pc_pro_link(offer) }}</td>
                <td>{{ links.build_offer_name_to_details_link(offer, text_attr="id") }}</td>
                <td>{{ (offer.isDuo and booking.quantity == 2) | format_bool }}</td>
                <td>{{ booking.stock.quantity }}</td>
                <td>{{ booking.total_amount | format_amount }}</td>
                <td>{{ booking.status | format_booking_status(with_badge=True) | safe }}</td>
                <td>{{ booking.dateCreated | format_date_time }}</td>
                <td>{{ booking.stock.beginningDatetime | format_date_time }}</td>
                <td>{{ links.build_offerer_name_to_details_link(booking.offerer) }}</td>
                <td>{{ links.build_venue_name_to_details_link(booking.venue) }}</td>
              </tr>
              {{ build_booking_extra_row(booking, booking.stock, offer) }}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock page %}
