{% from "components/badges.html" import build_user_offerer_status_badge %}
{% from "components/forms.html" import build_filters_form with context %}
{% import "components/links.html" as links %}
{% from "components/turbo/lazy_modal.html" import build_lazy_modal with context %}
{% extends "layouts/connected.html" %}
{% block page %}
  <div class="pt-3 px-5 table-container-user-offerer-validation"
       data-toggle="filters"
       data-toggle-id="user-offerer-validation">
    <div class="d-flex justify-content-between">
      <h2 class="fw-light">Rattachements à valider</h2>
    </div>
    <div class="col-2">
      <div class="py-2">
        <button type="button"
                class="btn btn-primary filters-toggle-button"
                disabled>
          <span class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"></span>
          <span class="visually-hidden">Chargement...</span>
        </button>
      </div>
    </div>
    <div class="filters-container d-none">{{ build_filters_form(form, dst) }}</div>
    <div>
      {% if rows and rows.total > 0 %}
        <div class="d-flex justify-content-between">
          <p class="lead num-results">{{ rows.total }} résultat{{ "s" if rows.total > 1 else "" }}</p>
          <div class="btn-group btn-group-sm"
               data-toggle="pc-batch-confirm-btn-group"
               data-toggle-id="table-container-user-offerer-validation-btn-group"
               data-pc-table-multi-select-id="table-container-user-offerer-validation"
               data-input-ids-name="object_ids">
            <button disabled
                    type="button"
                    class="btn btn-outline-primary"
                    data-url="{{ url_for("backoffice_v3_web.validation.batch_validate_user_offerer") }}"
                    data-use-confirmation-modal="false">Valider</button>
            <button disabled
                    type="button"
                    class="btn btn-outline-primary"
                    data-use-confirmation-modal="true"
                    data-modal-selector="#batch-pending-modal">Mettre en attente</button>
            <button disabled
                    type="button"
                    class="btn btn-outline-primary"
                    data-use-confirmation-modal="true"
                    data-modal-selector="#batch-reject-modal">Rejeter</button>
          </div>
          <div>{% include "components/search/pagination.html" %}</div>
        </div>
        <table class="table mb-4"
               data-table-multi-select-id="table-container-user-offerer-validation">
          <thead>
            <tr>
              <th scope="col">
                <input class="form-check-input"
                       type="checkbox"
                       name="pc-table-multi-select-check-all" />
              </th>
              <th scope="col"></th>
              <th scope="col">ID Compte pro</th>
              <th scope="col">Email Compte pro</th>
              <th scope="col">Nom Compte pro</th>
              <th scope="col">État</th>
              <th scope="col">
                <a href="{{ date_created_sort_url }}"
                   class="text-decoration-none"
                   title="Changer pour un tri {{ 'décroissant' if request.args.get('sort') == 'dateCreated' and request.args.get('order') == 'asc' else 'croissant' }}">
                  Date de la demande
                  <i class="bi bi-sort-{{ 'up' if request.args.get('sort') == 'dateCreated' and request.args.get('order') == 'asc' else 'down' }}-alt"></i>
                </a>
              </th>
              <th scope="col">Dernier commentaire</th>
              <th scope="col">Tél Compte pro</th>
              <th scope="col">Nom Structure</th>
              <th scope="col">Date de création Structure</th>
              <th scope="col">Email Responsable</th>
              <th scope="col">SIREN</th>
            </tr>
          </thead>
          <tbody>
            {% for user_offerer in rows.items %}
              {% set offerer = user_offerer.offerer %}
              {% set owner = offerer.first_user %}
              <tr>
                <td>
                  <input type="checkbox"
                         class="form-check-input"
                         name="pc-table-multi-select-check-{{ offerer.id }}-{{ user_offerer.user.id }}"
                         data-id="{{ user_offerer.id }}" />
                </td>
                <td>
                  <div class="dropdown">
                    <button type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            class="btn p-0">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item p-0">
                        <form action="{{ url_for( "backoffice_v3_web.validation.validate_user_offerer", offerer_id=offerer.id, user_offerer_id=user_offerer.id ) }}"
                              name="{{ url_for( "backoffice_v3_web.validation.validate_user_offerer", offerer_id=offerer.id, user_offerer_id=user_offerer.id ) | action_to_name }}"
                              method="post">
                          <button type="submit"
                                  class="btn btn-sm d-block w-100 text-start px-3">Valider</button>
                          {{ csrf_token }}
                        </form>
                      </li>
                      <li class="dropdown-item p-0">
                        <a class="btn btn-sm d-block w-100 text-start px-3"
                           data-bs-toggle="modal"
                           data-bs-target="#reject-modal-{{ user_offerer.id }}">Rejeter</a>
                      </li>
                      <li class="dropdown-item p-0">
                        <a class="btn btn-sm d-block w-100 text-start px-3"
                           data-bs-toggle="modal"
                           data-bs-target="#pending-modal-{{ user_offerer.id }}">Mettre en attente</a>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>{{ user_offerer.user.id }}</td>
                <td>{{ user_offerer.user.email | empty_string_if_null }}</td>
                <td>{{ links.build_pro_user_name_to_details_link(user_offerer.user.id, user_offerer.user.full_name) }}</td>
                <td>{{ build_user_offerer_status_badge(user_offerer) }}</td>
                <td>{{ user_offerer.dateCreated | format_date("%d/%m/%Y") }}</td>
                <td>
                  {{ get_last_comment_func(offerer, user_offerer.userId) | empty_string_if_null | replace("\n", "
                  <br />
                  "|safe) }}
                </td>
                <td>{{ user_offerer.user.phoneNumber | empty_string_if_null }}</td>
                <td>{{ links.build_offerer_name_to_details_link(user_offerer.offerer) }}</td>
                <td>{{ offerer.dateCreated | format_date("%d/%m/%Y") }}</td>
                <td>{{ (owner and owner.email) | empty_string_if_null }}</td>
                <td>{{ links.build_siren_to_external_link(offerer) }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% for user_offerer in rows.items %}
          {{ build_lazy_modal(
          url_for("backoffice_v3_web.validation.get_reject_user_offerer_form", user_offerer_id=user_offerer.id),
          "reject-modal-" + user_offerer.id|string) }}
          {{ build_lazy_modal(
          url_for("backoffice_v3_web.validation.get_user_offerer_pending_form", user_offerer_id=user_offerer.id),
          "pending-modal-" + user_offerer.id|string) }}
        {% endfor %}
        {{ build_lazy_modal(url_for("backoffice_v3_web.validation.get_batch_reject_user_offerer_form"), "batch-reject-modal", "true") }}
        {{ build_lazy_modal(url_for("backoffice_v3_web.validation.get_batch_user_offerer_pending_form"), "batch-pending-modal", "true") }}
      {% else %}
        Aucun rattachement ne correspond à la requête
      {% endif %}
    </div>
  </div>
{% endblock page %}
