{% macro stats_card(value, text_one, text_many, link) %}
  <div class="col">
    <div class="card shadow h-100">
      <div class="card-body py-0 pt-3">
        <div class="fs-2">{{ value }}</div>
        <div class="text-muted">{{ text_many if value > 1 else text_one }}</div>
      </div>
      <div class="card-footer bg-white border-0 py-0 pb-3">
        {% if link %}
          <div class="d-flex flex-row-reverse mt-4">
            <a href="{{ link }}"
               class="btn btn-md btn-outline-primary fw-bold">
              <span class="d-none d-xl-inline-block">CONSULTER</span> <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        {% else %}
          <div class="d-flex flex-row-reverse mt-4">
            <a href="#"
               class="btn btn-md btn-outline-grey fw-bold disabled">
              <span class="d-none d-xl-inline-block">À VENIR</span> <i class="bi bi-clock"></i>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
{% extends "layouts/connected.html" %}
{% block page %}
  <div class="py-4 px-5">
    <h1 class="text-muted mt-5">Bonjour {{ current_user.firstName | empty_string_if_null }} !</h1>
    {% if has_permission("FRAUD_ACTIONS") %}
      <div class="row row-cols-4 g-3 py-4">
        {{ stats_card(
        pending_individual_offers_count,
        "offre individuelle en attente",
        "offres individuelles en attente",
        url_for("backoffice_v3_web.offer.list_offers", status="PENDING", only_validated_offerers="on", sort="dateCreated")) }}
        {{ stats_card(
        pending_collective_offers_count,
        "offre collective en attente",
        "offres collectives en attente",
        url_for("backoffice_v3_web.collective_offer.list_collective_offers", status="PENDING", only_validated_offerers="on", sort="dateCreated")) }}
        {{ stats_card(
        pending_collective_templates_count,
        "offre collective vitrine en attente",
        "offres collectives vitrine en attente",
        url_for("backoffice_v3_web.collective_offer_template.list_collective_offer_templates", status="PENDING", only_validated_offerers="on", sort="dateCreated")) }}
      </div>
    {% endif %}
  </div>
{% endblock page %}
