{# ----- internal links (backoffice) ----- #}
{% macro build_public_user_name_to_details_link(user) %}
  {% if user %}
    <a href="{{ url_for('backoffice_v3_web.public_accounts.get_public_account', user_id=user.id) }}"
       class="link-primary"
       target="_top">{{ user.full_name }} ({{ user.id }})</a>
  {% endif %}
{% endmacro %}
{% macro build_pro_user_name_to_details_link(user_id, text) %}
  {% if user_id %}
    <a href="{{ url_for('backoffice_v3_web.pro_user.get', user_id=user_id) }}"
       class="link-primary"
       target="_top">{{ text|trim or user_id }}</a>
  {% endif %}
{% endmacro %}
{% macro build_offerer_name_to_details_link(offerer, text_attr="name") %}
  <a href="{{ url_for('backoffice_v3_web.offerer.get', offerer_id=offerer.id) }}"
     class="link-primary"
     target="_top">{{ offerer[text_attr] }}</a>
{% endmacro %}
{% macro build_venue_name_to_details_link(venue, text_attr="name") %}
  <a href="{{ url_for('backoffice_v3_web.venue.get', venue_id=venue.id) }}"
     class="link-primary"
     target="_top">{{ venue[text_attr] }}</a>
{% endmacro %}
{% macro build_offer_name_to_details_link(offer, text_attr="name") %}
  <a href="{{ url_for('backoffice_v3_web.offer.list_offers', q=offer.id) }}"
     class="link-primary"
     target="_top">{{ offer[text_attr] }}</a>
{% endmacro %}
{% macro build_venue_offers_icon_link(endpoint, hint, venue, text_attr="name") %}
  <a href="{{ url_for(endpoint, venue=venue.id) }}"
     class="link-primary"
     target="_blank"
     title="{{ hint }} associées au lieu"><i class="bi bi-box-arrow-up-right"></i></a>
{% endmacro %}
{# ----- PC Pro links ----- #}
{% macro build_offerer_name_to_pc_pro_link(offerer) %}
  <a href="{{ offerer | pc_pro_offerer_link }}"
     class="link-primary"
     target="_blank">{{ offerer.name }}</a>
{% endmacro %}
{% macro build_venue_name_to_pc_pro_link(venue, public_name=false) %}
  <a href="{{ venue | pc_pro_venue_link }}"
     class="link-primary"
     target="_blank">{{ (public_name and venue.publicName) or venue.name }}</a>
{% endmacro %}
{% macro build_offer_name_to_pc_pro_link(offer) %}
  <a href="{{ offer | pc_pro_offer_link }}"
     class="link-primary"
     target="_blank">{{ offer.name }}</a>
{% endmacro %}
{# ----- external links ----- #}
{% macro build_siren_to_external_link(offerer) %}
  {% if offerer.siren %}
    <a href="https://www.societe.com/cgi-bin/fiche?rncs={{ offerer.siren }}"
       target="_blank"
       title="Visualiser sur societe.com"
       class="link-primary">{{ offerer.siren }}</a>
  {% endif %}
{% endmacro %}
{% macro build_siret_to_external_link(venue) %}
  {% if venue.siret %}
    <a href="https://www.societe.com/etablissement/{{ venue.name | lower | replace(" ", "-") }}-{{ venue.siret }}.html"
       target="_blank"
       title="Visualiser sur societe.com"
       class="link-primary">{{ venue.siret }}</a>
  {% endif %}
{% endmacro %}
