@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.booking-offer-name {
  @include fonts.button;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &-individual {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.booking-offer-additional-info {
  @include fonts.caption;

  color: colors.$grey-dark;
  display: flex;
  font-size: rem.torem(14px);
  align-items: center;
}

.stocks {
  display: flex;

  .sold-out-container {
    height: rem.torem(24px);
  }

  .sold-out-dates {
    background-color: colors.$white;
    border-radius: rem.torem(4px);
    box-shadow: 0 rem.torem(2px) rem.torem(10px) 0 rgb(0 0 0 / 30%);
    display: none;
    padding: rem.torem(8px);
    position: absolute;
  }

  .sold-out-icon {
    &:hover,
    &:focus {
      & ~ .sold-out-dates {
        display: flex;
      }
    }
  }
}
