@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_colors.scss" as colors;

.booking-status-label {
  @include fonts.caption;

  border-radius: rem.torem(5px);
  color: colors.$white;
  padding: rem.torem(5px) rem.torem(7px);
  white-space: nowrap;
}

.bs-tooltip {
  white-space: initial;
}

.booking-status-wrapper {
  line-height: rem.torem(19px);
  position: relative;
  width: fit-content;
}

.booking-status-wrapper img {
  padding-right: rem.torem(4px);
  vertical-align: middle;
}

.booking-status-wrapper .bs-tooltip {
  display: none;
}

.booking-status-wrapper:focus .bs-tooltip,
.booking-status-wrapper:hover .bs-tooltip {
  background-color: colors.$white;
  border-radius: rem.torem(4px);
  box-shadow: 0 rem.torem(2px) rem.torem(10px) 0 colors.$black-shadow;
  color: colors.$black;
  display: block;
  padding: rem.torem(16px) rem.torem(24px) rem.torem(16px) rem.torem(24px);
  position: absolute;
  right: 0;
  top: rem.torem(30px);
  width: rem.torem(340px);
  z-index: 1;
}

.bs-offer-title {
  @include fonts.button;

  display: block;
}

.bs-offer-amount {
  @include fonts.caption;

  display: block;
  margin-top: rem.torem(7px);
}

.bs-history-title {
  @include fonts.body;

  margin-top: rem.torem(16px);
}

.bs-history-label {
  @include fonts.body;

  margin-top: rem.torem(12px);
}

.bs-history-datetime {
  margin: rem.torem(6px);
}
