// Don't forget to add color within .stylelintrc.json.
$white: #fff;
$grey-very-light: #ecf0f1;
$grey-light: #f1f1f4;
$grey-medium: #c7c7cc;
$grey-dark: #696a6f;
$grey-semi-dark: #90949d;
$grey-medium-shadow: rgb(103 104 107 / 16%);
$black: #151515;
$black-with-transparency: rgba($black, 0.8);
$black-shadow: rgba($black, 0.2);
$dark-blue-shadow: rgb(37 2 108 / 15%);
$blue: #06f;
$dark-blue: #25026c;
$primary: #eb0055;
$primary-dark: #c10046;
$secondary: #320096;
$tertiary: #6123df;
$light-pink: #f3edff;
$light-purple: #c1a3ff;
$light-purple-with-transparency: rgba($light-purple, 0.3);
$accent: $blue;
$primary-disabled: #ff99be;
$green-valid: #15884f;
$green-valid-light: #2cbe6e;
$red-error: #e60039;
$red-warning: #b60025;
$attention: #ffea00;
$notification-error: #ff8097;
$notification-info: #b3e7ff;
$notification-success: #b8e986;
$notification-warning: #ffd580;
$linear-gradient-to-bottom-right: linear-gradient(
  to bottom right,
  $primary,
  $secondary
);
$linear-gradient-to-right: linear-gradient(to right, $primary, $secondary);
$booking-pending-status: #f9c030;
$input-text-color: #161617;
$input-text-color-semi-dark: #90949d;
$light-lavender: #f6f1ff;
