@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_forms.scss" as forms;
@use "styles/mixins/_fonts.scss" as fonts;

$main-content-width: rem.torem(874px);
$main-content-padding: rem.torem(24px);
$checkbox-size: rem.torem(20px);
$checkbox-icon-margin: rem.torem(8px);
$action-bar-sticky-height: rem.torem(72px);
$image-banner-height: rem.torem(140px);
$image-banner-width: rem.torem(826px);
$input-min-height: rem.torem(40px);
$input-border-width: rem.torem(1px);
$provider-banner-height: rem.torem(52px);
$signup-content-margin: rem.torem(30px);
$signup-content-width: rem.torem(488px);
$button-icon-size: rem.torem(20px);
$header-grid-template-columns: [col-start] 1fr [col-main]
  minmax(rem.torem(874px), auto) 1fr;
$header-nav-item-padding: rem.torem(16px);
$nav-brand-margin-right: 5%;

// Mixin used to "center" with input
// We are using margin-top and not flex center because when there is an error the
// input field grows at the bottom and we don't want the aligned content to move with it
// stylelint-disable scss/operator-no-newline-after
@mixin input-center-with-top-margin($content-height, $no-label: false) {
  @if $no-label {
    margin-top: calc((#{$input-min-height} - #{$content-height}) / 2);
  } @else {
    margin-top: calc(
      #{fonts.$body-line-height} +
        #{forms.$label-space-before-input} +
        (#{$input-min-height} - #{$content-height}) /
        2
    );
  }
}
